body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
}

.height100 {
    height:100%;
}

.imageContainer {
    border: 115px solid transparent;
    -webkit-border-image: url(http://fc05.deviantart.net/fs71/i/2012/339/6/9/parables_and_prophecies_border_art_02_by_scottpurdy-d5lkpke.jpg) 17% 5% 5% 5% stretch;
    -o-border-image: url(http://fc05.deviantart.net/fs71/i/2012/339/6/9/parables_and_prophecies_border_art_02_by_scottpurdy-d5lkpke.jpg) 17% 5% 5% 5% stretch;
}

.imageContainer h3 {
    background-color: rgba(255,255,255,0.85);
}

img {
    position: relative;
    margin: 3% 2% -50px 11%;
    width: 80%;
    border-radius: 5%;
}

.optionsDiv {
    text-align: center;
}

.optionsDiv div {
    display: inline;
}

.inputs {
    text-align: center;
    position: relative;
    top: -64px;
}

#titlebutton{
    background-color: white;
}

#nameInput {
    background-color: white;
}